<header class="">
  <div class="background navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="float-left">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="/assets/images/slu_logo.png" alt="logo" height="25px" />
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Hem</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['list']" class="nav-link">DOI-lista</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['about']" class="nav-link">Om</a>
      </li>
    </ul>
    <div class="mx-auto title text-white">
      DOI
    </div>
  </div>
</header>

