apiVersion: apps/v1
kind: Deployment
metadata:
  name: $(imageName)-app
spec:
  template:
    spec:
      containers:
      - name: $(imageName)-app
        env:
        - name: HttpClients
          value: |
            {
              "SosObservationsApi": {
                "BaseAddress": "https://sos-search-st.wt.artdata.slu.se/"
              },
              "SosAdministrationApi": {
                "BaseAddress": "https://sosadminapi-st.wt.artdata.slu.se/"
              },
              "SosAnalysisApi": {
                "BaseAddress": "https://sos-analysis-st.wt.artdata.slu.se/"
              },
              "SosElasticsearchProxy": {
                "BaseAddress": "https://sos-proxy-st.wt.artdata.slu.se/"
              },
              "SosDataStewardshipApi": {
                "BaseAddress": "https://datastewardship-st.wt.artdata.slu.se/"
              }
            }
        - name: UserServiceConfiguration
          value: |
            {
              "UserAdmin2ApiBaseAddress": "https://useradmin2-api-st.wt.artdata.slu.se",
              "ClientId": "SOS.Administration.Gui",
              "ClientSecret": "SECRET_PLACEHOLDER",
              "Scope": "SOS.Observations.Protected openid profile email roles",
              "TokenUrl": "https://useradmin2-auth-st.wt.artdata.slu.se/connect/token",
              "TokenExpirationBufferInSeconds": 300,
              "IdentityProvider": {
                "Authority": "https://useradmin2-auth-st.wt.artdata.slu.se",
                "Audience": "https://sos-search-st.wt.artdata.slu.se",
                "RequireHttpsMetadata ": false
              }
            }
        - name: ProcessDbConfiguration
          value: |
            {
              "Hosts": [
                {
                  "Name": "artmongo-t-1.artdata.slu.se",
                  "Port": 27017
                }
              ],
              "ReplicaSetName": null,
              "UserName": "SECRET_PLACEHOLDER",
              "Password": "SECRET_PLACEHOLDER",
              "DatabaseName": "sos-st",
              "UseTls": false,
              "AuthenticationDb": "admin",
              "ReadBatchSize": 10000,
              "WriteBatchSize": 10000
            }
        - name: SearchDbConfiguration
          value: |
            {
              "Clusters": [
                {
                  "Hosts": [
                    "https://artsearch2-1-test.artdata.slu.se:9200"
                  ]
                }
              ],
              "RequestTimeout": 60,
              "DebugMode": false,
              "UserName": "SECRET_PLACEHOLDER",
              "Password": "SECRET_PLACEHOLDER",
              "IndexPrefix": "sos-st",
              "IndexSettings": [
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "checklist",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "observation",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "observationdataset",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "observationevent",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "userobservation",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                }
              ]
            }
        resources:
          requests:
            cpu: 11m
            memory: 230M
          limits:
            memory: 230M