apiVersion: apps/v1
kind: Deployment
metadata:
  name: $(imageName)-api
spec:
  template:
    spec:
      containers:
      - name: $(imageName)-api
        env:
        - name: UserServiceConfiguration
          value: '{"BaseAddress": "https://artdatauser.artdata.slu.se/api", "AcceptHeaderContentType": "application/json"}'