{
  "openapi": "3.0.4",
  "info": {
    "title": "Species Observation System API (Internal)",
    "description": "Species Observation System API V1.5.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://sos-search.artdata.slu.se"
    }
  ],
  "paths": {
    "/api/ApiInfo": {
      "get": {
        "tags": [
          "ApiInfo"
        ],
        "operationId": "ApiInfo_GetApiInfo",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInformation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInformation"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInformation"
                }
              }
            }
          }
        }
      }
    },
    "/Areas": {
      "get": {
        "tags": [
          "Areas"
        ],
        "description": "Search for areas (regions).",
        "operationId": "Areas_GetAreas",
        "parameters": [
          {
            "name": "areaTypes",
            "in": "query",
            "description": "Filter used to limit number of areas returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AreaTypeDto"
              }
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "description": "Filter used to limit number of areas returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Start index of returned areas",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Number of areas to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Areas/{areaType}/{featureId}": {
      "get": {
        "tags": [
          "Areas"
        ],
        "description": "Get a single area",
        "operationId": "Areas_GetArea",
        "parameters": [
          {
            "name": "areaType",
            "in": "path",
            "description": "The area type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AreaTypeDto"
            }
          },
          {
            "name": "featureId",
            "in": "path",
            "description": "The feature id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Areas/{areaType}/{featureId}/Export": {
      "get": {
        "tags": [
          "Areas"
        ],
        "description": "Get an area as a zipped JSON file including its polygon.",
        "operationId": "Areas_GetExport",
        "parameters": [
          {
            "name": "areaType",
            "in": "path",
            "description": "The area type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AreaTypeDto"
            }
          },
          {
            "name": "featureId",
            "in": "path",
            "description": "The FeatureId.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Export format.",
            "schema": {
              "$ref": "#/components/schemas/AreaExportFormatDto"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/DataProviders": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "description": "Get all data providers.",
        "operationId": "DataProviders_GetDataProviders",
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "description": "Category/ies to match. DataHostesship, RegionalInventory, CitizenSciencePlatform, Atlas, \n            Terrestrial, Freshwater, Marine, Vertebrates, Arthropods, Microorganisms, Plants_Bryophytes_Lichens,\n            Fungi, Algae",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DataProviderCategory"
              }
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "Culture code.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "includeProvidersWithNoObservations",
            "in": "query",
            "description": "If false, data providers with no observations are excluded from the result.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/DataProviders/{providerId}/LastModified": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "description": "Get latest modified date for a data provider.",
        "operationId": "DataProviders_GetLastModifiedDateById",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "description": "The data provider ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/DataProviders/{providerId}/EML": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "description": "Get provider EML file.",
        "operationId": "DataProviders_GetEML",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "description": "The data provider ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Environment": {
      "get": {
        "tags": [
          "Environment"
        ],
        "description": "Gets the running enviroment.",
        "operationId": "Environment_Get",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInformationDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInformationDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInformationDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Datasets": {
      "get": {
        "tags": [
          "Exports"
        ],
        "description": "Returns a list of data provider datasets (DwC-A) available for download. \nA file is usually created once a day for each dataset.",
        "operationId": "Exports_GetDatasetsList",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/My": {
      "get": {
        "tags": [
          "Exports"
        ],
        "description": "Get all exports for a user",
        "operationId": "Exports_GetMyExports",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJobInfoDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJobInfoDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportJobInfoDto"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/My/{id}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "description": "Get export by id",
        "operationId": "Exports_GetMyExport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobInfoDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobInfoDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportJobInfoDto"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Download/Csv": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download Csv export file. The limit is 25 000 observations. If you need to download more observations, use the OrderCsv endpoint.\nBy default, the file is compressed (zipped) using the GZIP format, but this can be changed via the gzip parameter.",
        "operationId": "Exports_DownloadCsv",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Download/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download DwC export file. The limit is 25 000 observations. If you need to download more observations, use the OrderDwC endpoint.",
        "operationId": "Exports_DownloadDwC",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventBased",
            "in": "query",
            "description": "Event based Darwin Core if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Download/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download Excel export file. The limit is 25 000 observations. If you need to download more observations, use the OrderExcel endpoint.\nBy default, the file is compressed (zipped) using the GZIP format, but this can be changed via the gzip parameter.",
        "operationId": "Exports_DownloadExcel",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "dynamicProjectDataFields",
            "in": "query",
            "description": "Use dynamic added project related fields. Only for Excel export",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Download/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download GeoJson export file. The limit is 25 000 observations. If you need to download more observations, use the OrderGeoJson endpoint.\nBy default, the file is compressed (zipped) using the GZIP format, but this can be changed via the gzip parameter.",
        "operationId": "Exports_DownloadGeoJson",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values. Applies when flat=true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Order/Csv": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a Csv file with observations based on provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderCsv",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Exports/Order/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a DwC-A file with observations based on provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderDwC",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventBased",
            "in": "query",
            "description": "Event based Darwin Core if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Exports/Order/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a Excel file with observations based on provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderExcel",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "dynamicProjectDataFields",
            "in": "query",
            "description": "Use dynamic added project related fields. Only for Excel export",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Exports/Order/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a GeoJSON file with observations based on the provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderGeoJson",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A description of your download. Will be displayed in the email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values. Applies when flat=true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translation vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Exports/Internal/Download/Csv": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download Csv export file. The limit is 25 000 observations. If you need to download more observations, use the OrderCsv endpoint.\nBy default, the file is compressed (zipped) using the GZIP format, but this can be changed via the gzip parameter.",
        "operationId": "Exports_DownloadCsvInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Internal/Download/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download DwC export file. The limit is 25 000 observations. If you need to download more observations, use the OrderDwC endpoint.",
        "operationId": "Exports_DownloadDwCInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventBased",
            "in": "query",
            "description": "Event based Darwin Core if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Internal/Download/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download Excel export file. The limit is 25 000 observations. If you need to download more observations, use the OrderExcel endpoint.\nBy default, the file is compressed (zipped) using the GZIP format, but this can be changed via the gzip parameter.",
        "operationId": "Exports_DownloadExcelInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "dynamicProjectDataFields",
            "in": "query",
            "description": "Use dynamic added project related fields. Only for Excel export",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Internal/Download/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Download GeoJson export file. The limit is 25 000 observations. If you need to download more observations, use the OrderGeoJson endpoint.\nBy default, the file is compressed (zipped) using the GZIP format, but this can be changed via the gzip parameter.",
        "operationId": "Exports_DownloadGeoJsonInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values. Applies when flat=true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/Exports/Internal/Order/Csv": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a Csv file with observations based on provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderCsvInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Exports/Internal/Order/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a DwC-A file with observations based on provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderDwCInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventBased",
            "in": "query",
            "description": "Event based Darwin Core if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterInternalDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Exports/Internal/Order/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "description": "Starts the process of creating a Excel file with observations based on provided filter.\nWhen the file is ready, you will receive an email containing a download link.\nThe limit is 2 000 000 observations.\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderExcelInternal",
        "parameters": [
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "$ref": "#/components/schemas/OutputFieldSet"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "$ref": "#/components/schemas/PropertyLabelType"
            }
          },
          {
            "name": "dynamicProjectDataFields",
            "in": "query",
            "description": "Use dynamic added project related fields. Only for Excel export",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
[...]
