{
  "openapi": "3.0.1",
  "info": {
    "title": "Species Observation System API (Internal)",
    "description": "Species Observation System API V1.5.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.artdatabanken.se/species-observation-system-internal/v1"
    }
  ],
  "paths": {
    "/Areas": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Areas_GetAreas",
        "description": "Search for areas (regions).",
        "operationId": "Areas_GetAreas",
        "parameters": [
          {
            "name": "areaTypes",
            "in": "query",
            "description": "Filter used to limit number of areas returned",
            "schema": {
              "enum": [
                "Municipality",
                "CountryRegion",
                "NatureType",
                "Province",
                "Ramsar",
                "BirdValidationArea",
                "Parish",
                "Spa",
                "Sea",
                "County",
                "ProtectedNature",
                "SwedishForestAgencyDistricts",
                "Sci",
                "WaterArea",
                "Atlas5x5",
                "Atlas10x10"
              ],
              "type": "array"
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "description": "Filter used to limit number of areas returned",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32. Format - int32. Format - int32. Format - int32. Start index of returned areas",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Format - int32. Format - int32. Format - int32. Format - int32. Number of areas to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                },
                "example": {
                  "records": [
                    {
                      "areaType": "Municipality",
                      "boundingBox": {
                        "bottomRight": {
                          "latitude": 0,
                          "longitude": 0
                        },
                        "topLeft": {
                          "latitude": 0,
                          "longitude": 0
                        }
                      },
                      "featureId": "string",
                      "name": "string"
                    }
                  ],
                  "skip": 0,
                  "take": 0,
                  "totalCount": 0
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                },
                "example": {
                  "records": [
                    {
                      "areaType": "Municipality",
                      "boundingBox": {
                        "bottomRight": {
                          "latitude": 0,
                          "longitude": 0
                        },
                        "topLeft": {
                          "latitude": 0,
                          "longitude": 0
                        }
                      },
                      "featureId": "string",
                      "name": "string"
                    }
                  ],
                  "skip": 0,
                  "take": 0,
                  "totalCount": 0
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Areas/{areaType}/{featureId}/Export": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Areas_GetExport",
        "description": "Get an area as a zipped JSON file including its polygon.",
        "operationId": "Areas_GetExport",
        "parameters": [
          {
            "name": "areaType",
            "in": "path",
            "description": "The area type.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AreaTypeDto"
            }
          },
          {
            "name": "featureId",
            "in": "path",
            "description": "The FeatureId.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "",
            "schema": {
              "$ref": "#/components/schemas/AreaExportFormatDto"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/DataProviders": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "summary": "DataProviders_GetDataProviders",
        "description": "Get all data providers.",
        "operationId": "DataProviders_GetDataProviders",
        "parameters": [
          {
            "name": "cultureCode",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "includeProvidersWithNoObservations",
            "in": "query",
            "description": "If false, data providers with no observations are excluded from the result.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "identifier": "string",
                    "name": "string",
                    "description": "string",
                    "organization": "string",
                    "path": [
                      "string"
                    ],
                    "url": "string",
                    "publicObservations": 0,
                    "protectedObservations": 0,
                    "latestHarvestDate": "string",
                    "latestProcessDate": "string",
                    "latestIncrementalHarvestDate": "string",
                    "nextHarvestFrom": "string",
                    "harvestNotes": "string",
                    "harvestSchedule": "string",
                    "includeInSearchByDefault": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "identifier": "string",
                    "name": "string",
                    "description": "string",
                    "organization": "string",
                    "path": [
                      "string"
                    ],
                    "url": "string",
                    "publicObservations": 0,
                    "protectedObservations": 0,
                    "latestHarvestDate": "string",
                    "latestProcessDate": "string",
                    "latestIncrementalHarvestDate": "string",
                    "nextHarvestFrom": "string",
                    "harvestNotes": "string",
                    "harvestSchedule": "string",
                    "includeInSearchByDefault": true
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/DataProviders/{providerId}/LastModified": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "summary": "DataProviders_GetLastModifiedDateById",
        "description": "Get latest modified date for a data provider.",
        "operationId": "DataProviders_GetLastModifiedDateById",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "description": "Format - int32. Format - int32. Format - int32. Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "example": [
                  "string"
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "example": [
                  "string"
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/DataProviders/{providerId}/EML": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "summary": "DataProviders_GetEML",
        "description": "Get provider EML file",
        "operationId": "DataProviders_GetEML",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "description": "Format - int32. Format - int32. Format - int32. Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Environment": {
      "get": {
        "tags": [
          "Environment"
        ],
        "summary": "Environment_Get",
        "description": "Gets the running enviroment.",
        "operationId": "Environment_Get",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInformationDto"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInformationDto"
                },
                "example": {
                  "environmentType": "string",
                  "hostingServerName": "string",
                  "osPlatform": "string",
                  "aspDotnetVersion": "string",
                  "currentCulture": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInformationDto"
                },
                "example": {
                  "environmentType": "string",
                  "hostingServerName": "string",
                  "osPlatform": "string",
                  "aspDotnetVersion": "string",
                  "currentCulture": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Datasets": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_GetDatasetsList",
        "description": "Returns a list of data provider datasets (DwC-A) available for download. A file is usually created once a day for each dataset.",
        "operationId": "Exports_GetDatasetsList",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                },
                "example": [
                  {
                    "name": "string",
                    "created": "string",
                    "size": 0,
                    "downloadUrl": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                },
                "example": [
                  {
                    "name": "string",
                    "created": "string",
                    "size": 0,
                    "downloadUrl": "string"
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Download/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_DownloadDwC",
        "description": "Download DwC export file. The limit is 25 000 observations. If you need to download more observations, use the OrderDwC endpoint.",
        "operationId": "Exports_DownloadDwC",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Download/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_DownloadExcel",
        "description": "Download Excel export file. The limit is 25 000 observations. If you need to download more observations, use the OrderExcel endpoint.",
        "operationId": "Exports_DownloadExcel",
        "parameters": [
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All"
              ],
              "type": "string"
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Download/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_DownloadGeoJson",
        "description": "Download GeoJson export file. The limit is 25 000 observations. If you need to download more observations, use the OrderGeoJson endpoint.",
        "operationId": "Exports_DownloadGeoJson",
        "parameters": [
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All"
              ],
              "type": "string"
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Order/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_OrderDwC",
        "description": "Starts the process of creating a DwC-A file with observations based on provided filter.\r\nWhen the file is ready, you will receive an email containing a download link.\r\nThe limit is 2 000 000 observations.\r\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderDwC",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Order/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_OrderExcel",
        "description": "Starts the process of creating a Excel file with observations based on provided filter.\r\nWhen the file is ready, you will receive an email containing a download link.\r\nThe limit is 2 000 000 observations.\r\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderExcel",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All"
              ],
              "type": "string"
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Order/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_OrderGeoJson",
        "description": "Starts the process of creating a GeoJSON file with observations based on the provided filter.\r\nWhen the file is ready, you will receive an email containing a download link.\r\nThe limit is 2 000 000 observations.\r\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderGeoJson",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "description": "A description of your download. Will be displayed in the email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All"
              ],
              "type": "string"
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translation vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "validationStatus": "BothValidatedAndNotValidated",
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Jobs/{jobId}/Status": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Jobs_GetStatus",
        "description": "Get status of job",
        "operationId": "Jobs_GetStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job id returned when export was requested",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Locations": {
      "post": {
        "tags": [
          "Locations"
        ],
        "summary": "Locations_GetLocationsByIds",
        "description": "Get locations by id",
        "operationId": "Locations_GetLocationsByIds",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "string"
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "string"
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "string"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LocationDto"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationDto"
                },
                "example": {
                  "continent": {
                    "id": 0,
                    "value": "string"
                  },
                  "coordinatePrecision": 0,
                  "coordinateUncertaintyInMeters": 0,
                  "country": {
                    "id": 0,
                    "value": "string"
                  },
                  "countryCode": "string",
                  "county": {
                    "id": "string",
                    "value": "string"
                  },
                  "municipality": {
                    "id": "string",
                    "value": "string"
                  },
                  "parish": {
                    "id": "string",
                    "value": "string"
                  },
                  "province": {
                    "id": "string",
                    "value": "string"
                  },
                  "decimalLatitude": 0,
                  "decimalLongitude": 0,
                  "externalId": "string",
                  "locality": "string",
                  "locationAccordingTo": "string",
                  "locationId": "string",
                  "locationRemarks": "string",
                  "point": {
                    "type": "string",
                    "coordinates": {
                      "latitude": 0,
                      "longitude": 0,
                      "z": 0
                    }
                  },
                  "pointWithBuffer": {
                    "type": "string",
                    "coordinates": [
                      [
                        {
                          "latitude": 0,
                          "longitude": 0,
                          "z": 0
                        }
                      ]
                    ]
                  },
                  "pointWithDisturbanceBuffer": {
                    "type": "string",
                    "coordinates": [
                      [
                        {
                          "latitude": 0,
                          "longitude": 0,
                          "z": 0
                        }
                      ]
                    ]
                  },
                  "projectId": 0
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationDto"
                },
[...]
