{
  "openapi": "3.0.1",
  "info": {
    "title": "SOS Observations API (Public) V1.5",
    "description": "Species Observation System (SOS) - Observations API. Public API.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.artdatabanken.se/species-observation-system-test/v1"
    }
  ],
  "paths": {
    "/Areas": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Areas_GetAreas",
        "operationId": "Areas_GetAreas",
        "parameters": [
          {
            "name": "areaTypes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Municipality",
                  "Community",
                  "Sea",
                  "CountryRegion",
                  "NatureType",
                  "Province",
                  "Ramsar",
                  "BirdValidationArea",
                  "Parish",
                  "Spa",
                  "County",
                  "ProtectedNature",
                  "SwedishForestAgencyDistricts",
                  "Sci",
                  "WaterArea",
                  "Atlas5x5",
                  "Atlas10x10",
                  "SfvDistricts"
                ],
                "type": "string",
                "description": "Area type dto"
              }
            }
          },
          {
            "name": "searchString",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Format - int32.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Format - int32.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                },
                "example": {
                  "records": [
                    {
                      "areaType": "Municipality",
                      "boundingBox": {
                        "bottomRight": {
                          "latitude": 0,
                          "longitude": 0
                        },
                        "topLeft": {
                          "latitude": 0,
                          "longitude": 0
                        }
                      },
                      "featureId": "string",
                      "name": "string"
                    }
                  ],
                  "skip": 0,
                  "take": 0,
                  "totalCount": 0
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaBaseDtoPagedResult"
                },
                "example": {
                  "records": [
                    {
                      "areaType": "Municipality",
                      "boundingBox": {
                        "bottomRight": {
                          "latitude": 0,
                          "longitude": 0
                        },
                        "topLeft": {
                          "latitude": 0,
                          "longitude": 0
                        }
                      },
                      "featureId": "string",
                      "name": "string"
                    }
                  ],
                  "skip": 0,
                  "take": 0,
                  "totalCount": 0
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Areas/{areaType}/{featureId}/Export": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Areas_GetExport",
        "operationId": "Areas_GetExport",
        "parameters": [
          {
            "name": "areaType",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "Municipality",
                "Community",
                "Sea",
                "CountryRegion",
                "NatureType",
                "Province",
                "Ramsar",
                "BirdValidationArea",
                "Parish",
                "Spa",
                "County",
                "ProtectedNature",
                "SwedishForestAgencyDistricts",
                "Sci",
                "WaterArea",
                "Atlas5x5",
                "Atlas10x10",
                "SfvDistricts"
              ],
              "type": "string",
              "description": "Area type dto"
            }
          },
          {
            "name": "featureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "enum": [
                "Json",
                "GeoJson",
                "Wkt"
              ],
              "type": "string",
              "description": "Export format for area.",
              "default": "Json"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/DataProviders": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "summary": "DataProviders_GetDataProviders",
        "operationId": "DataProviders_GetDataProviders",
        "parameters": [
          {
            "name": "cultureCode",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "includeProvidersWithNoObservations",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "identifier": "string",
                    "name": "string",
                    "description": "string",
                    "organization": "string",
                    "path": [
                      "string"
                    ],
                    "url": "string",
                    "publicObservations": 0,
                    "protectedObservations": 0,
                    "latestHarvestDate": "string",
                    "latestProcessDate": "string",
                    "latestIncrementalHarvestDate": "string",
                    "nextHarvestFrom": "string",
                    "harvestNotes": "string",
                    "harvestSchedule": "string",
                    "includeInSearchByDefault": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataProviderDto"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "identifier": "string",
                    "name": "string",
                    "description": "string",
                    "organization": "string",
                    "path": [
                      "string"
                    ],
                    "url": "string",
                    "publicObservations": 0,
                    "protectedObservations": 0,
                    "latestHarvestDate": "string",
                    "latestProcessDate": "string",
                    "latestIncrementalHarvestDate": "string",
                    "nextHarvestFrom": "string",
                    "harvestNotes": "string",
                    "harvestSchedule": "string",
                    "includeInSearchByDefault": true
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/DataProviders/{providerId}/LastModified": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "summary": "DataProviders_GetLastModifiedDateById",
        "operationId": "DataProviders_GetLastModifiedDateById",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "example": [
                  "string"
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "example": [
                  "string"
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/DataProviders/{providerId}/EML": {
      "get": {
        "tags": [
          "DataProviders"
        ],
        "summary": "DataProviders_GetEML",
        "operationId": "DataProviders_GetEML",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Datasets": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_GetDatasetsList",
        "description": "Returns a list of data provider datasets (DwC-A) available for download. \r\nA file is usually created once a day for each dataset.",
        "operationId": "Exports_GetDatasetsList",
        "parameters": [
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                },
                "example": [
                  {
                    "name": "string",
                    "created": "string",
                    "size": 0,
                    "downloadUrl": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                },
                "example": [
                  {
                    "name": "string",
                    "created": "string",
                    "size": 0,
                    "downloadUrl": "string"
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Download/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_DownloadDwC",
        "description": "Download DwC export file. The limit is 25 000 observations. If you need to download more observations, use the OrderDwC endpoint.",
        "operationId": "Exports_DownloadDwC",
        "parameters": [
          {
            "name": "eventBased",
            "in": "query",
            "description": "Event based Darwin Core if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Format - int32. Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Download/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_DownloadExcel",
        "description": "Download Excel export file. The limit is 25 000 observations. If you need to download more observations, use the OrderExcel endpoint.",
        "operationId": "Exports_DownloadExcel",
        "parameters": [
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All",
                "None"
              ],
              "type": "string",
              "description": "Export property sets.",
              "default": "None"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string",
              "description": "Property label type.",
              "default": "PropertyName"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Format - int32. Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Download/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_DownloadGeoJson",
        "description": "Download GeoJson export file. The limit is 25 000 observations. If you need to download more observations, use the OrderGeoJson endpoint.",
        "operationId": "Exports_DownloadGeoJson",
        "parameters": [
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All",
                "None"
              ],
              "type": "string",
              "description": "Export property sets.",
              "default": "None"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string",
              "description": "Property label type.",
              "default": "PropertyName"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values. Applies when flat=true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "gzip",
            "in": "query",
            "description": "If true (default), the resulting file will be compressed by the GZIP file format.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Format - int32. Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                },
                "example": "string"
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Order/DwC": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_OrderDwC",
        "description": "Starts the process of creating a DwC-A file with observations based on provided filter.\r\nWhen the file is ready, you will receive an email containing a download link.\r\nThe limit is 2 000 000 observations.\r\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderDwC",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventBased",
            "in": "query",
            "description": "Event based Darwin Core if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Format - int32. Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Order/Excel": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_OrderExcel",
        "description": "Starts the process of creating a Excel file with observations based on provided filter.\r\nWhen the file is ready, you will receive an email containing a download link.\r\nThe limit is 2 000 000 observations.\r\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderExcel",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "description": "A summary of the dataset you request. The description will be included in the email. If empty, an automatic description will be created.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All",
                "None"
              ],
              "type": "string",
              "description": "Export property sets.",
              "default": "None"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The column header type.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string",
              "description": "Property label type.",
              "default": "PropertyName"
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translating vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Format - int32. Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
                  "fieldSet": "Minimum",
                  "fields": [
                    "string"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              },
              "text/json": {
                "schema": {
                  "type": "string"
                },
                "example": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/Exports/Order/GeoJson": {
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Exports_OrderGeoJson",
        "description": "Starts the process of creating a GeoJSON file with observations based on the provided filter.\r\nWhen the file is ready, you will receive an email containing a download link.\r\nThe limit is 2 000 000 observations.\r\nYou can see the status of your export request by calling the \"/Jobs/{jobId}/Status\" endpoint.",
        "operationId": "Exports_OrderGeoJson",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "description": "A description of your download. Will be displayed in the email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFieldSet",
            "in": "query",
            "description": "Obsolete, will be overided by fieldset in body data if any. The observation property field set.",
            "schema": {
              "enum": [
                "Minimum",
                "Extended",
                "AllWithValues",
                "All",
                "None"
              ],
              "type": "string",
              "description": "Export property sets.",
              "default": "None"
            }
          },
          {
            "name": "validateSearchFilter",
            "in": "query",
            "description": "If true, validation of search filter values will be made. I.e. HTTP bad request response will be sent if there are invalid parameter values.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "propertyLabelType",
            "in": "query",
            "description": "The label type to use if flat=false.",
            "schema": {
              "enum": [
                "PropertyName",
                "PropertyPath",
                "Swedish",
                "English"
              ],
              "type": "string",
              "description": "Property label type.",
              "default": "PropertyName"
            }
          },
          {
            "name": "sensitiveObservations",
            "in": "query",
            "description": "Include sensitive observations if true",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sendMailFromZendTo",
            "in": "query",
            "description": "Send pick up file e-mail from ZendTo when file is reay to pick up (Only work if sensitiveObservations = false)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "encryptPassword",
            "in": "query",
            "description": "Password used to encrypt file",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirmEncryptPassword",
            "in": "query",
            "description": "Confirm encrypt password",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flat",
            "in": "query",
            "description": "If true, the observations will be serialized as a flat JSON structure.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "excludeNullValues",
            "in": "query",
            "description": "Exclude properties with null values. Applies when flat=true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "cultureCode",
            "in": "query",
            "description": "The culture code used for translation vocabulary values.",
            "schema": {
              "type": "string",
              "default": "sv-SE"
            }
          },
          {
            "name": "X-Authorization-Role-Id",
            "in": "header",
            "description": "Format - int32. Limit user authorization too specified role",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Authorization-Application-Identifier",
            "in": "header",
            "description": "Name of application used in authorization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string",
              "default": "1.5"
            }
          },
          {
            "name": "X-Requesting-System",
            "in": "header",
            "description": "Name of system doing the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The search filter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchFilterDto"
              },
              "example": {
                "birdNestActivityLimit": 0,
                "dataProvider": {
                  "ids": [
                    0
                  ]
                },
                "date": {
                  "startDate": "string",
                  "endDate": "string",
                  "dateFilterType": "OverlappingStartDateAndEndDate",
                  "timeRanges": [
                    "Morning"
                  ]
                },
                "determinationFilter": "NoFilter",
                "diffusionStatuses": [
                  "NotDiffused"
                ],
                "excludeFilter": {
                  "occurrenceIds": [
                    "string"
                  ]
                },
                "geographics": {
                  "areas": [
                    {
                      "areaType": "Municipality",
                      "featureId": "string"
                    }
                  ],
                  "boundingBox": {
                    "bottomRight": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "topLeft": {
                      "latitude": 0,
                      "longitude": 0
                    }
                  },
                  "considerDisturbanceRadius": true,
                  "considerObservationAccuracy": true,
                  "maxDistanceFromPoint": 0,
                  "geometries": [
                    {
                      "type": "string"
                    }
                  ],
                  "locationIds": [
                    "string"
                  ],
                  "locationNameFilter": "string",
                  "maxAccuracy": 0
                },
                "modifiedDate": {
                  "from": "string",
                  "to": "string"
                },
                "notRecoveredFilter": "NoFilter",
                "observedByMe": true,
                "occurrenceStatus": "Present",
                "projectIds": [
                  0
                ],
                "reportedByMe": true,
                "taxon": {
                  "includeUnderlyingTaxa": true,
                  "ids": [
                    0
                  ],
                  "taxonListIds": [
                    0
                  ],
                  "redListCategories": [
                    "string"
                  ],
                  "taxonCategories": [
                    0
                  ],
                  "taxonListOperator": "Merge"
                },
                "verificationStatus": "BothVerifiedAndNotVerified",
                "output": {
[...]
