apiVersion: apps/v1
kind: Deployment
metadata:
  name: $(imageName)-api
spec:
  replicas: 3
  template:
    spec:
      priorityClassName: high-priority
      containers:
      - name: $(imageName)-api
        envFrom:
        - secretRef:
              name: $(imageName)-secret
        env:
        - name: CorsAllowAny
          value: "false"
        - name: CryptoConfiguration
          value: |
            {
              "Password": "SECRET_PLACEHOLDER", 
              "Salt": "SECRET_PLACEHOLDER"
            }
        - name: UserServiceConfiguration
          value: |
              {
                  "AcceptHeaderContentType": "application/json", 
                  "UserAdmin2ApiBaseAddress": "https://useradmin-api.slu.se", 
                  "ClientId": "SOS", 
                  "ClientSecret": "SECRET_PLACEHOLDER", 
                  "Scope": "useradmin.api SOS.Observations.Protected openid", 
                  "TokenUrl": "https://useradmin-auth.slu.se/connect/token", 
                  "TokenExpirationBufferInSeconds": 300, 
                  "IdentityProvider": {
                      "Authority": "https://useradmin-auth.slu.se", 
                      "Audience": "https://sos-search.artdata.slu.se", 
                      "RequireHttpsMetadata ": false
                  }
              }
        - name: ApplicationInsights
          value: '{"InstrumentationKey": "SECRET_PLACEHOLDER", "EnableRequestBodyLogging": false, "EnableSearchResponseCountLogging": true}'
        - name: IdentityServer
          value: '{"Authority": "https://ids.artdatabanken.se", "Audience": "SOS.Observations", "RequireHttpsMetadata ": false}'
        - name: ProcessDbConfiguration
          value: |
              {
                  "UserName": "SECRET_PLACEHOLDER", 
                  "Password": "SECRET_PLACEHOLDER", 
                  "Hosts": [
                      {
                          "Name": "artmongo-1.artdata.slu.se", 
                          "Port": 27017
                      }, 
                      {
                          "Name": "artmongo-2.artdata.slu.se", 
                          "Port": 27017
                      }, 
                      {
                          "Name": "artmongo-3.artdata.slu.se", 
                          "Port": 27017
                      }
                  ], 
                  "ReplicaSetName": "mongo-prod", 
                  "DatabaseName": "sos", 
                  "UseTls": false, 
                  "AuthenticationDb": "admin", 
                  "ReadBatchSize": 10000, 
                  "WriteBatchSize": 10000
              }
        - name: SearchDbConfiguration
          value: |
            {
              "UserName": "SECRET_PLACEHOLDER", 
              "Password": "SECRET_PLACEHOLDER", 
              "Clusters": [
                  {
                    "Hosts": [
                      "https://artsosdata2-1.artdata.slu.se:9200", 
                      "https://artsosdata2-2.artdata.slu.se:9200", 
                      "https://artsosdata2-3.artdata.slu.se:9200"
                      ]
                  }, 
                  {
                      "Hosts": [
                      "https://artsosdata2-4.artdata.slu.se:9200", 
                      "https://artsosdata2-5.artdata.slu.se:9200", 
                      "https://artsosdata2-6.artdata.slu.se:9200"
                      ]
                  }], 
              "DebugMode": false, 
              "IndexPrefix": "sos",
              "IndexSettings": [
                {
                  "Name": "observation", 
                  "ReadBatchSize": 10000, 
                  "RequestTimeout": 60, 
                  "ScrollBatchSize": 5000, 
                  "ScrollTimeout": "300s"
                }
              ]
            }
        - name: HangfireDbConfiguration
          value: |
              {
                  "UserName": "SECRET_PLACEHOLDER", 
                  "Password": "SECRET_PLACEHOLDER", 
                  "Hosts": [
                      {
                          "Name": "artmongo-1.artdata.slu.se", 
                          "Port": 27017
                      }, 
                      {
                          "Name": "artmongo-2.artdata.slu.se", 
                          "Port": 27017
                      }, 
                      {
                          "Name": "artmongo-3.artdata.slu.se", 
                          "Port": 27017
                      }
                  ], 
                  "ReplicaSetName": "mongo-prod", 
                  "DatabaseName": "sos-hangfire", 
                  "UseTls": false, 
                  "AuthenticationDb": "admin", 
                  "JobExpirationDays": 7
              }