<header class="header-image">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 header-image"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SOS.Administration.Gui - {{environment}}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/invalid-observations']">Invalid Observations</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/status']">Status</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/test']">Tests</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/stats']">Statistics</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/loadtest']">Load tests</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['observation-viewer']">Observations Viewer</a>
          </li>
          <li class="nav-item" *ngIf="isUserAuthenticated()">
            <span style="color:lightgreen">Logged in as 'admin'</span>
            <a class="nav-link text-light" (click)="logOut()">Logout</a>
          </li>
          <li class="nav-item" *ngIf="!isUserAuthenticated()">
            <a class="nav-link text-light" [routerLink]="['login']">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
