@page "/"

<PageTitle>Index</PageTitle>

<h1>SOS Admin</h1>

<h3>Länkar</h3>
<ul>
    <li><a href="https://github.com/biodiversitydata-se/SOS" target="_blank">SOS på GitHub</a></li>
    <li><a href="https://devops.artdata.slu.se/ArtData/Home/_backlogs/backlog/FO%20Datafederation/Backlog%20items" target="_blank">Backlog i DevOps</a></li>
</ul>