apiVersion: v1
kind: Service
metadata:
  labels:
    app: app
  name: app
spec:
  ports:
    - port: 5000
      targetPort: 5000
  type: LoadBalancer
  selector:
    app: app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: app
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  strategy: 
      type: Recreate
  template:
    metadata:
      labels:
        app: app
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: app
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: dev 
        - name: RedisConnectionString
          value: 'redis-master:6379,allowAdmin=true,password=endastILokalUtveckling'
        - name: HttpClients
          value: |
            {
              "SosObservationsApi": {
                "BaseAddress": "https://sos-search-dev.wt.artdata.slu.se/"
              },
              "SosAdministrationApi": {
                "BaseAddress": "https://sosadminapi-dev.wt.artdata.slu.se/"
              },
              "SosAnalysisApi": {
                "BaseAddress": "https://sos-analysis-dev.wt.artdata.slu.se/"
              },
              "SosElasticsearchProxy": {
                "BaseAddress": "https://sos-proxy-dev.wt.artdata.slu.se/"
              },
              "SosDataStewardshipApi": {
                "BaseAddress": "https://datastewardship-dev.wt.artdata.slu.se/"
              }
            }
        - name: UserServiceConfiguration
          value: |
            {
              "UserAdmin2ApiBaseAddress": "https://useradmin2-api-dev.wt.artdata.slu.se",
              "ClientId": "SOS.Administration.Gui",
              "ClientSecret": "SECRET_PLACEHOLDER",
              "Scope": "SOS.Observations.Protected openid profile email roles",
              "TokenUrl": "https://useradmin2-auth-dev.wt.artdata.slu.se/connect/token",
              "TokenExpirationBufferInSeconds": 300,
              "IdentityProvider": {
                "Authority": "https://useradmin2-auth-dev.wt.artdata.slu.se",
                "Audience": "https://sos-search-dev.wt.artdata.slu.se",
                "RequireHttpsMetadata ": false
              }
            }
        - name: ProcessDbConfiguration
          value: |
            {
              "Hosts": [
                {
                  "Name": "artmongo-t-1.artdata.slu.se",
                  "Port": 27017
                }
              ],
              "ReplicaSetName": null,
              "UserName": "SECRET_PLACEHOLDER",
              "Password": "SECRET_PLACEHOLDER",
              "DatabaseName": "sos-dev",
              "UseTls": false,
              "AuthenticationDb": "admin",
              "ReadBatchSize": 10000,
              "WriteBatchSize": 10000
            }
        - name: SearchDbConfiguration
          value: |
            {
              "Clusters": [
                {
                  "Hosts": [
                    "https://artsearch2-1-test.artdata.slu.se:9200"
                  ]
                }
              ],
              "RequestTimeout": 60,
              "DebugMode": false,
              "UserName": "SECRET_PLACEHOLDER",
              "Password": "SECRET_PLACEHOLDER",
              "IndexPrefix": "sos-dev",
              "IndexSettings": [
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "checklist",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "observation",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "observationdataset",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "observationevent",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                },
                {
                  "MaxNrAggregationBuckets": 65535,
                  "Name": "userobservation",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 5000,
                  "ScrollTimeout": "300s"
                }
              ]
            }
        image: app
        ports:
          - containerPort: 5000
        resources: {}
        securityContext:
          allowPrivilegeEscalation: false              
      restartPolicy: Always