<div class="d-flex align-items-center justify-content-center py-5">
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="searchFor" class="sr-only">Password</label>

      <div class="input-group">
        <input type="text" name="searchTerm" [(ngModel)]="_searchTerm" placeholder="Sök DOI" class="form-control">
      </div>
    </div>
    <button type="button" (click)="onSearchClick()" class="btn btn-primary mb-2" [disabled]="_searchTerm <= ''">Sök</button>
  </form>
</div>
<div *ngIf="_notFound" class="alert alert-warning" role="alert">
  Kunde inte hitta någon DOI.
</div>
<app-doi-list [visible]="!_notFound && _doiSearch" [data]="_doiSearch"></app-doi-list>

<h4>Senast skapade DOI-er</h4>
<app-doi-list [visible]="true" [data]="_doiList"></app-doi-list>
