apiVersion: apps/v1
kind: Deployment
metadata:
  name: $(imageName)-app
spec:
  template:
    spec:
      containers:
      - name: $(imageName)-app
        env:
        - name: HttpClients
          value: |
            {
              "SosObservationsApi": {
                "BaseAddress": "https://sos-search.artdata.slu.se/"
              },
              "SosAdministrationApi": {
                "BaseAddress": "https://sos-hangfire.artdata.slu.se/"
              },
              "SosAnalysisApi": {
                "BaseAddress": "https://sos-analysis.artdata.slu.se/"
              },
              "SosElasticsearchProxy": {
                "BaseAddress": "https://sos-proxy.artdata.slu.se/"
              },
              "SosDataStewardshipApi": {
                "BaseAddress": "https://sos-datastewardship.artdata.slu.se/"
              }
            }
        - name: UserServiceConfiguration
          value: |
            {
              "UserAdmin2ApiBaseAddress": "https://useradmin-api.slu.se",
              "ClientId": "SOS.Administration.Gui",
              "ClientSecret": "SECRET_PLACEHOLDER",
              "Scope": "SOS.Observations.Protected openid profile email roles",
              "TokenUrl": "https://useradmin-auth.slu.se/connect/token",
              "TokenExpirationBufferInSeconds": 300,
              "IdentityProvider": {
                "Authority": "https://useradmin-auth.slu.se",
                "Audience": "https://sos-search.artdata.slu.se",
                "RequireHttpsMetadata ": false
              }
            }
        - name: ProcessDbConfiguration
          value: |
            {
              "Hosts": [
                {
                  "Name": "artmongo-1.artdata.slu.se",
                  "Port": 27017
                },
                {
                  "Name": "artmongo-2.artdata.slu.se",
                  "Port": 27017
                },
                {
                  "Name": "artmongo-3.artdata.slu.se",
                  "Port": 27017
                }
              ],
              "ReplicaSetName": "mongo-prod",
              "UserName": "SECRET_PLACEHOLDER",
              "Password": "SECRET_PLACEHOLDER",
              "DatabaseName": "sos",
              "UseTls": false,
              "AuthenticationDb": "admin",
              "ReadBatchSize": 10000,
              "WriteBatchSize": 10000
            }
        - name: SearchDbConfiguration
          value: |
            {
              "Clusters": [
                {
                  "Hosts": [
                    "https://artsosdata2-1.artdata.slu.se:9200",
                    "https://artsosdata2-2.artdata.slu.se:9200",
                    "https://artsosdata2-3.artdata.slu.se:9200"
                  ]
                },
                {
                  "Hosts": [
                    "https://artsosdata2-4.artdata.slu.se:9200",
                    "https://artsosdata2-5.artdata.slu.se:9200",
                    "https://artsosdata2-6.artdata.slu.se:9200"
                  ]
                }
              ],
              "UserName": "SECRET_PLACEHOLDER",
              "Password": "SECRET_PLACEHOLDER",
              "RequestTimeout": 60,
              "DebugMode": false,
              "IndexPrefix": "sos",
              "IndexSettings": [
                {
                  "Name": "checklist",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 2500,
                  "ScrollTimeout": "300s"
                },
                {
                  "Name": "observation",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 2500,
                  "ScrollTimeout": "300s"
                },
                {
                  "Name": "observationdataset",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 2500,
                  "ScrollTimeout": "300s"
                },
                {
                  "Name": "observationevent",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 2500,
                  "ScrollTimeout": "300s"
                },
                {
                  "Name": "userobservation",
                  "ReadBatchSize": 10000,
                  "ScrollBatchSize": 2500,
                  "ScrollTimeout": "300s"
                }
              ],
              "MaxNrAggregationBuckets": 65535
            }