<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="Elastic.Apm.NLog"/>
    <add assembly="Elastic.CommonSchema.NLog"/>
  </extensions>
    <!--
  The 'layout renderers' (variables like ${xx}) in NLog are not all converted to ASP.NET Core 
  and therefore gives NLog configuration exceptions during startup and also empty output.
  
  Using a NLog variable ${logLayout}, the same layout is set for all targets
    
  The filename should be set to the name of the application and the folder 'C:\artlog'
  should already be present on all machines along with the right security settings.

  The chosen archiving strategy (Day, Date) for the application DummyService creates a file output like this:
     DummyService.20190302.log
     DummyService.20190303.log
        .
        .
     DummyService.log (current file)
    
   The targets for console and debugger should of course be disabled in a production environment
  
  -->
    <variable name="logLayout"
              value="${longdate}|${iis-site-name}|${machinename}|${aspnet-environment}|${logger}|${level:uppercase=true}|${message} ${exception:format=@}" />  
    <targets>
        <target xsi:type="File" name="logfileTarget"
                fileName="C:\artlog\SOS.Analysis.Api.log"
                layout="${logLayout}"
                archiveEvery="Day"
                archiveNumbering="Date" />

        <target xsi:type="Console" name="consoleTarget"
                layout="${logLayout}" />

        <target xsi:type="Debugger" name="debuggerTarget"
                layout="${logLayout}"
                header="${logger}::Logger started"
                footer="${logger}::Logger ended" />
      <target name="elasticTarget" xsi:type="BufferingWrapper" flushTimeout="5000">
        <target xsi:type="ElasticSearch" enableJsonLayout="true" disableCertificateValidation="true" requireAuth="true" userName="${configsetting:item=SearchDbConfiguration.UserName}" password="${configsetting:item=SearchDbConfiguration.Password}" uri="https://artsearch2-1-test.artdata.slu.se:9200"  index="logs-${date:format=yyyy.MM.dd}">
          <layout xsi:type="EcsLayout">
          </layout>
        </target>
      </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
        <logger name="*" minlevel="Debug" writeTo="debuggerTarget" />
        <logger name="*" minlevel="Debug" writeTo="elasticTarget" />
        <logger name="*" minlevel="Info" writeTo="logfileTarget" />
    </rules>
</nlog>