<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
		<system.web>
			<httpRuntime maxRequestLength="10240" executionTimeout="3600" />
		</system.web>		
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="false">
                <remove name="WebDAVModule" />
            </modules>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\SOS.Analysis.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
            <security>
                <requestFiltering>
                    <!-- This will handle requests up to 10MB -->
                    <requestLimits maxAllowedContentLength="10485760" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>