apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  template:
    spec:
      containers:
      - env:
        - name: ASPNETCORE_ENVIRONMENT
          value: dev
        - name: DISABLE_HANGFIRE_INIT
          value: 'true'
        - name: DISABLE_HEALTHCHECK_INIT
          value: 'true'
        - name: DISABLE_CACHED_TAXON_SUM_INIT
          value: 'true'
        name: api
        startupProbe: 
          httpGet:
            path: /healthz
            port: 5005
          failureThreshold: 5
          periodSeconds: 10
        readinessProbe: 
          httpGet:
            path: /healthz
            port: 5005
            httpHeaders:
            - name: Host
              value: KubernetesReadinessProbe
          successThreshold: 1
          failureThreshold: 3
          periodSeconds: 10
        livenessProbe: 
          httpGet:
            path: /healthz
            port: 5005
          failureThreshold: 3
          periodSeconds: 10