apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  template:
    spec:
      containers:
      - name: api
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: local
        - name: AllowedOrigins
          value: '*'
        - name: RedisConfiguration
          value: |
              {
                  "EndPoint": "redis-master", 
                  "Port": 6379, 
                  "Password": "endastILokalUtveckling"
              }
        - name: AuthenticationConfiguration
          value: '{"Authority": "https://useradmin2-auth-dev.wt.artdata.slu.se", "ClientId": "sos.admin.api"}'
        - name: UserServiceConfiguration
          value: |
              {
                  "BaseAddress": "https://artdatauser-st.artdata.slu.se/api", 
                  "AcceptHeaderContentType": "application/json", 
                  "UserAdmin2ApiBaseAddress": "https://useradmin2-api-st.wt.artdata.slu.se", 
                  "ClientId": "SOS", 
                  "ClientSecret": "SECRET_PLACEHOLDER", 
                  "Scope": "useradmin.api SOS.Observations.Protected openid", 
                  "TokenUrl": "http://useradmin2-auth-st.wt.artdata.slu.se/connect/token", 
                  "TokenExpirationBufferInSeconds": 300, 
                  "IdentityProvider": {
                      "Authority": "https://useradmin2-auth-st.wt.artdata.slu.se", 
                      "Audience": "https://sos-search-st.wt.artdata.slu.se", 
                      "RequireHttpsMetadata ": false
                  }
              }
        - name: ImportConfiguration
          value: |
              {
                  "ArtportalenConfiguration": {
                      "ConnectionStringBackup": "Server=SpeciesObservationSwe_test.db.slu.se;Database=SpeciesObservationSwe_test;Integrated Security=sspi;MultipleActiveResultSets=true;Pooling=true;Max Pool Size=1000;Min Pool Size=0;Persist Security Info=false;TrustServerCertificate=true;ApplicationIntent=ReadOnly;Connection Timeout=30;Connection Lifetime=0;",
                      "ConnectionStringLive": "Server=SpeciesObservationSwe_test.db.slu.se;Database=SpeciesObservationSwe_test;Integrated Security=sspi;MultipleActiveResultSets=true;Pooling=true;Max Pool Size=1000;Min Pool Size=0;Persist Security Info=false;TrustServerCertificate=true;ApplicationIntent=ReadOnly;Connection Timeout=30;Connection Lifetime=0;",
                      "ChunkSize": 50000,
                      "MaxNumberOfSightingsHarvested": null,
                      "AddTestSightings": false
                  },
                  "AreaHarvestConfiguration": {
                      "UseGeoRegionApiHarvest": true
                  },
                  "DwcaConfiguration": {
                      "ImportPath": "\\\\storage-ua.slu.se\\ARTSOS_TEST$\\SOS\\Temp"
                  },
                  "GeoRegionApiConfiguration": {
                      "ApiUrl": "https://georegionapi.artdata.slu.se/"
                  }
              }
        - name: VerbatimDbConfiguration
          value: |
              {
                  "UserName": "SECRET_PLACEHOLDER", 
                  "Password": "SECRET_PLACEHOLDER", 
                  "Hosts": [
                      {
                          "Name": "artmongo-t-1.artdata.slu.se","Port": 27017
                      }
                  ], 
                  "ReplicaSetName": null, 
                  "DatabaseName": "sos-harvest-dev", 
                  "UseTls": false, 
                  "AuthenticationDb": "admin", 
                  "ReadBatchSize": 10000, 
                  "WriteBatchSize": 10000
              }
        - name: ProcessConfiguration
          value: |
              {
                  "TaxonAttributeServiceConfiguration": {
                      "BaseAddress": "https://taxonattributeservice.artdata.slu.se/api",
                      "AcceptHeaderContentType": "application/json"
                  },
                  "TaxonServiceConfiguration": {
                      "BaseAddress": "https://taxonservice.artdata.slu.se/DarwinCore/DarwinCoreArchiveFile?version=custom",
                      "AcceptHeaderContentType": "application/text",
                      "TaxonApiAddress": "https://taxonapi.artdata.slu.se/darwincore/download?version=custom"
                  }
              }