<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="false">
                <remove name="WebDAVModule" />
            </modules>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\SOS.Observations.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
            <security>
                <requestFiltering>
                    <!-- This will handle requests up to 2GB -->
                    <requestLimits maxAllowedContentLength="2147483648" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>