<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logLayout"
            value="${longdate}|${iis-site-name}|${machinename}|${aspnet-environment}|${logger}|${level:uppercase=true}|${message} ${exception:format=@}" />

  <targets>
    <target xsi:type="Console" name="consoleTarget"
                layout="${logLayout}" />

    <target xsi:type="Debugger" name="debuggerTarget"
                layout="${logLayout}"
                header="${logger}::Logger started"
                footer="${logger}::Logger ended" />

    <target xsi:type="File" name="logfileTarget"
                fileName="C:\artlog\SOS.DataStewardship.Api.log"
                layout="${logLayout}"
                archiveEvery="Day"
                archiveNumbering="Date" />
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
    <logger name="*" minlevel="Debug" writeTo="debuggerTarget" />
    <logger name="*" minlevel="Info" writeTo="logfileTarget" />
  </rules>
</nlog>
