<div class="flex">
  <div class="flex-item">
    <div class="form-group">
      <select name="filter"
              id="filter"
              class="form-control"
              (change)="onChange($event.target.value)"
              [(ngModel)]="filterId">
        <option value="30m">30 minutes ago</option>
        <option value="1h">1 hour ago</option>
        <option value="3h">3 hours ago</option>
        <option value="6h">6 hours ago</option>
        <option value="12h">12 hours ago</option>
        <option value="24h">24 hours ago</option>
        <option value="3d">3 days ago</option>
        <option value="7d">7 days ago</option>
      </select>
    </div>   
  </div>
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart width="400" height="200"
              [datasets]="lineChartData"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"></canvas>
    </div>
  </div>
</div>
