<div>
  <div *ngIf="processInfo">
    <h1>Status info</h1>
    <span *ngFor="let provider of processInfo">
      <span *ngIf="provider.status == 'Success' && !isActiveProvider(provider.id)">
        <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
      </span>
      <span *ngIf="provider.status == 'Success' && !activeInstanceHarvestIsOlderThanOneDay && isActiveProvider(provider.id)">
        <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
      </span>
      <span *ngIf="provider.status == 'Success' && activeInstanceHarvestIsOlderThanOneDay && isActiveProvider(provider.id)">
        <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="gold" /></svg>
      </span>
      <span *ngIf="provider.status != 'Success'">
        <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
      </span>{{provider.id}} {{getActiveInfo(provider.id)}} <b>({{formatFrom(provider.start)}} ago)</b> |
    </span>
    <span>
      <span *ngIf="failedTests == 0">
        <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
      </span>
      <span *ngIf="failedTests > 0">
        <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
      </span>
      Tests <a [routerLink]="['/test']">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
        </svg>{{completedTests}}
      </a>
      <a [routerLink]="['/test']" *ngIf="failedTests > 0">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="red" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>{{failedTests}} |
      </a>
    </span>
    <span *ngIf="totalDataDifference < 0">
      <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
    </span>
    <span *ngIf="totalDataDifference >= 0">
      <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
    </span>
    Data status |
    <span *ngIf="failedCalls.length > 0">
      <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="gold" /></svg>
    </span>
    <span *ngIf="failedCalls.length <= 0">
      <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
    </span>
    Failed search calls: {{sumFailedCalls}} |
  <a [routerLink]="['log-viewer']">{{logDescription}}</a>
    <hr />
    <div class="row">
      <div class="col">
        <h2>Data status</h2>
        <table class="table-small">
          <thead>
            <tr>
              <th scope="col">Datasource</th>
              <th scope="col">Active</th>
              <th scope="col">Inactive</th>
              <th scope="col">Difference</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of dataComparison">
              <td scope="row">{{data.source}}</td>
              <td scope="row">{{data.today}}</td>
              <td scope="row">{{data.yesterday}}</td>
              <td scope="row" [class.green]="(data.today - data.yesterday) >= 0" [class.red]="(data.today - data.yesterday) < 0">{{data.today - data.yesterday}}</td>
              <td>
                <span *ngIf="(data.today - data.yesterday) < 0">
                  <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
                </span>
                <span *ngIf="(data.today - data.yesterday) >= 0">
                  <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h2>Performance status</h2>
        <table class="table-small">
          <thead>
            <tr>
              <th scope="col">URL</th>
              <th scope="col">{{getYesterdayDate()}}</th>
              <th scope="col">{{getYesterYesterdayDate()}}</th>
              <th scope="col">Difference</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of performanceComparison">
              <td scope="row">{{data.source}}</td>
              <td scope="row">{{data.today}}ms</td>
              <td scope="row">{{data.yesterday}}ms</td>
              <td scope="row" [class.red]="isPerformanceRed(data.today,data.yesterday)" [class.yellow]="isPerformanceYellow(data.today,data.yesterday)" [class.green]="isPerformanceGreen(data.today,data.yesterday)">{{data.today - data.yesterday | number}}ms</td>
              <td>
                <span *ngIf="isPerformanceRed(data.today,data.yesterday)">
                  <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
                </span>
                <span *ngIf="isPerformanceYellow(data.today,data.yesterday)">
                  <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="gold" /></svg>
                </span>
                <span *ngIf="isPerformanceGreen(data.today,data.yesterday)">
                  <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <a target="_blank" href="https://portal.azure.com/#@svelantbruksuniversitet.onmicrosoft.com/resource/subscriptions/86477f0b-e000-4738-ba92-59b14bc73fa3/resourceGroups/911AppInsights-prod/providers/microsoft.insights/components/SOS-Observation-API/performance">Details in Application insights</a>
      </div>
      <div>
        <div>
          <h2>Failed searches</h2>
          <table class="table-small">
            <thead>
              <tr>
                <th scope="col">URL</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of failedCalls">
                <td scope="row">{{data.name}}</td>
                <td scope="row">{{data.count}}</td>
              </tr>
            </tbody>
          </table>
          <a target="_blank" href="https://portal.azure.com/#@svelantbruksuniversitet.onmicrosoft.com/resource/subscriptions/86477f0b-e000-4738-ba92-59b14bc73fa3/resourceGroups/911AppInsights-prod/providers/microsoft.insights/components/SOS-Observation-API/failures">Details in Application insights</a>
        </div>
        <div>
          <h2>Latest load tests</h2>
          <table class="table-small" *ngIf="loadTestSummary">
            <thead>
              <tr>
                <th width="100px" scope="col">Date</th>
                <th width="140px" scope="col">Iteration Count</th>
                <th width="80px" scope="col">Rate</th>
                <th scope="col">Avg time(ms)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of loadTestSummary.slice(0,5)">
                <td scope="row">{{data.timestamp | date}}</td>
                <td scope="row">{{data.metrics.iterations.count}}</td>
                <td scope="row">{{data.metrics.iterations.rate | number}}</td>
                <td scope="row">{{data.metrics.iteration_duration.avg | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm" *ngIf="searchindexinfo">
        <h2>Disk usage Elasticsearch</h2>
        <div *ngFor="let disk of searchindexinfo.allocations">
          <h5>{{disk.node}}</h5>
          <mwl-gauge [max]="100"
                     [min]="0"
                     [dialStartAngle]="180"
                     [dialEndAngle]="0"
                     [value]="disk.percentage"
                     [animated]="true"
                     [label]="gaugeLabelFunction"
                     [color]="gaugeColorFunction"
                     [animationDuration]="1">
          </mwl-gauge>
          Used: {{disk.diskUsed }}
          Total: {{disk.diskTotal }}
        </div>
      </div>
      <div class="col-sm" *ngIf="mongodbinfo">
        <h2>Disk usage MongoDb</h2>
        <mwl-gauge [max]="100"
                   [min]="0"
                   [dialStartAngle]="180"
                   [dialEndAngle]="0"
                   [value]="mongodbinfo[0].percentage"
                   [animated]="true"
                   [label]="gaugeLabelFunction"
                   [color]="gaugeColorFunction"
                   [animationDuration]="1">
        </mwl-gauge>
        Used: {{mongodbinfo[0].diskUsed / 1000000 | number}}GB
        Total: {{mongodbinfo[0].diskTotal / 1000000 | number}}GB
      </div>
      <div class="col-sm">
        <h2>Tests</h2>
        <div *ngIf="runningTests" class="spinner-border" role="status">
          <span class="sr-only">Running Tests...</span>
        </div>
        <a [routerLink]="['/test']">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="green" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
          </svg>Completed: {{completedTests}}
        </a>
        <a [routerLink]="['/test']">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>Failed:{{failedTests}}
        </a>
        <div>Total runtime:{{totalRuntimeMs}}ms</div>
        <br />
        <div>
          <button type="button" class="btn btn-primary" (click)="runTests()">Rerun tests</button>
        </div>
      </div>
      <div class="col-sm">
        <h2>Current processing</h2>
        <ag-grid-angular *ngIf="processingJobsRowData.length>0" style="height: 200px;"
                         class="ag-theme-alpine"
                         [rowData]="processingJobsRowData"
                         [columnDefs]="processingJobsColumnDefs">
        </ag-grid-angular>
        <a target="_blank" [href]="hostingenvironment.hangfireUrl">Hangfire</a>
      </div>
    </div>
    <hr />
    <h2>Index status</h2>
    <div class="row">
      <div class="col" *ngFor="let provider of processInfo.slice(0,2)">
        <h3>{{provider.id}} {{getActiveInfo(provider.id)}}</h3>
        <ul>
          <li>Start: {{formatDate(provider.start)}} ({{formatFrom(provider.start)}} ago)</li>
          <li>End: {{formatDate(provider.end)}} ({{formatFrom(provider.start)}} ago)</li>
          <li>Time taken: <b>{{getTimeTaken(provider.start, provider.end)}}</b></li>
          <li>
            Status:
            <span *ngIf="provider.status == 'Success'">
              <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
            </span>
            <span *ngIf="provider.status != 'Success'">
              <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
            </span>
            {{provider.status}}
          </li>
        </ul>
        <ag-grid-angular *ngIf="provider.providersInfo" style="height: 300px;"
                         class="ag-theme-alpine"
                         [rowData]="provider.providersInfo"
                         [columnDefs]="processColumnDefs">
        </ag-grid-angular>
      </div>
    </div>
    <div style="height:30px;"></div>
    <div class="row">
      <div class="col" *ngFor="let provider of processInfo.slice(2,4)">
        <h3>{{provider.id}} {{getActiveInfo(provider.id)}}</h3>
        <ul>
          <li>Start: {{formatDate(provider.start)}} ({{formatFrom(provider.start)}} ago)</li>
          <li>End: {{formatDate(provider.end)}} ({{formatFrom(provider.start)}} ago)</li>
          <li>Time taken: <b>{{getTimeTaken(provider.start, provider.end)}}</b></li>
          <li>
            Status:
            <span *ngIf="provider.status == 'Success'">
              <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="green" /></svg>
            </span>
            <span *ngIf="provider.status != 'Success'">
              <svg height="20" width="25"><circle cx="10" cy="10" r="8" fill="red" /></svg>
            </span>
            {{provider.status}}
          </li>
        </ul>
        <ag-grid-angular *ngIf="provider.providersInfo" style="height: 300px;"
                         class="ag-theme-alpine"
                         [rowData]="provider.providersInfo"
                         [columnDefs]="processColumnDefs">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
