<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="logLayout"
              value="${longdate}|${iis-site-name}|${machinename}|${aspnet-environment}|${logger}|${level:uppercase=true}|${message} ${exception}" />

    <targets>
        <target xsi:type="File" name="logfileTarget"
                fileName="C:\artlog\SOS.Hangfire.JobServer.log"
                layout="${logLayout}"
                archiveEvery="Day"
                archiveNumbering="Date" />

        <target xsi:type="Console" name="consoleTarget"
                layout="${logLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
        <logger name="*" minlevel="Debug" writeTo="logfileTarget" />
    </rules>
</nlog>