  <div *ngIf="_doiData" class="jumbotron mr-5 ml-5">
    <h1 class="display-8">{{_doiData.id}}</h1>

    <h2 *ngFor="let title of _doiData.attributes.titles">{{ title.title }}</h2>
    <h3 *ngFor="let creator of _doiData.attributes.creators">{{ creator.name }}</h3>

    <p *ngFor="let description of _doiData.attributes.descriptions">{{ description.description }}</p>

    <p>{{ _doiData.attributes.types.resourceType }} published {{ _doiData.attributes.publicationYear }} via {{ _doiData.attributes.publisher }}</p>

    <hr class="my-4">

    <p>Skapad {{ _doiData.attributes.created }}</p>

    <a href="{{ _fileUrl }}" role="button" class="btn btn-primary btn-lg">Hämta</a>
  </div>
