<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SOS User Statistics</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataproviderstatus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dataproviders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artportalentoplist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Topplista
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artportalentoplistloadall">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Topplista - Ladda alla
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artportalentoplistprovince">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Topplista - Provins
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
