
<div class="form-group">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="instance-radios" id="instance0" value="0" [(ngModel)]="selectedInstance" />
    <label class="form-check-label" for="instance0">InvalidObservations-0 <span *ngIf="activeInstance=='0'">(active)</span></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="instance-radios" id="instance1" value="1"  [(ngModel)]="selectedInstance"/>
    <label class="form-check-label" for="instance1">InvalidObservations-1 <span *ngIf="activeInstance=='1'">(active)</span></label>
  </div>
</div>
<div class="form-group" *ngIf="dataSets.length > 0">
  <label for="contactMethod">
    Data source filter
  </label>
  <select name="contactMethod"
          id="contactMethod"
          class="form-control"
          (change)="onChange($event.target.value)"
          [(ngModel)]="selectedDataSetId">
    <option *ngFor="let dataSet of dataSets" [value]="dataSet.id">{{ dataSet.name }}</option>
  </select>
</div>

<app-invalid-map [dataSetId]="selectedDataSet.id" [instance]="selectedInstance"></app-invalid-map>
<app-invalid-grid [dataSetId]="selectedDataSet.id" [instance]="selectedInstance"></app-invalid-grid>
