<div>
  <div *ngIf="loadingData" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>  
  <ngx-datatable class="bootstrap"
                 [rows]="rowData"
                 [columns]="columnDefs"
                 [columnMode]="ColumnMode.force"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 rowHeight="auto"
                 [externalPaging]="true"
                 [count]="page.totalElements"
                 [offset]="page.pageNumber"                 
                 [limit]="page.size"
                 (sort)="onSort($event)"
                 (page)="setPage($event)">
  </ngx-datatable>
</div>
